@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

  
body {
        background-color: #f2f2f2;
    font-family: 'Raleway', sans-serif;;
}

.container {
    border: 1px solid #cccc;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-left: 1;
    margin-right: 1;
}

/* Controla  */
.bloco {
    background-color: #fff;
    border: 1px solid #aaa;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    margin: 1%;
    

    /* margin: 30px 0; */
    /* width: 600px;
    justify-content: space-around; */
    }

   
.imagens {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
   
}

.paragrafo {
    background-color: #fff;
    width: 380px;
    height: 100px;
    margin: 3px 3px;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.conteudo {
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.alinhamento {
    text-align: left;
}

.conteudo h2 {
    width: 70%;
    margin-top: 30px;
}

.foto_usuario {
    /* width: 150px; */
    justify-content: flex-start;
    margin: 10 10;
    max-width: 150px;
    width: 100%;
    display: flex;
}

.rede_social {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.icone_rede_social {
    display: flex;
    top: 17px;
    width: 30px;
    justify-content: space-around;
    
}
.botao {
    color: #fff;
    background-color: #888888;
    text-transform: uppercase;
    border: none;
    border-style: none;
    width: 100px;
    padding: 10px 15px;
    position: relative;
    top: 0;
}
